<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
</head>

<!-- To Do:
  - get request for viewing
  - mobile friendly
  - MVC
  - find functions (db) deprecated, change these
  -- public-ip install (for contact page)
-->

<body>
    <%- include ('../partials/nav') %>
    <div class = "container">
        <% if (typeof message !== 'undefined') { %>
            <div class="alert alert-success" role="alert">
                <%= message %>
            </div>
        <% } %>
        <div class = "row">
       

        <div class = "col-6">
            <h1> All Posts </h1>
            <ul class = "list-group">
                <% blogs.forEach(blog => { %>
                    <li class = "list-group-item"><%= blog.title %><br>
                        <i class="fa fa-eye fa-lg icon" name="view" data-blog="<%= JSON.stringify(blog) %>" data-date-formatted="<%= moment(blog.createdAt).format('dddd, DD MMMM YYYY') %>"></i>
                        <i class="fa fa-edit fa-lg icon" name="edit" data-blog="<%= JSON.stringify(blog) %>" %>"></i>
                        <i class="fa fa-trash fa-lg icon" name="id" data-id="<%= blog._id %>"></i>
                    </li>
                <% }) %>
            </ul>
        </div>

        <div class = "col-6">

        <button type="button" class="btn btn-primary create" onClick = "showCreateModal()">Create a post</button>

        </div>


        </div>
    </div>

    <!-- View Modal -->

    <div id="view-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">View</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              
            </div>
            <div class="modal-body">
              <div class = "view-title"> </div>
              <div class = "view-topic"> </div>
              <div class = "view-date"> </div>
              <hr>
              <div class = "view-body"> </div>
            </div>
          </div>
      
        </div>
    </div>

    <!-- Edit Modal -->

    <div id="edit-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              
            </div>
            <div class="modal-body">
              <form action = "admin/update" method = "POST">
                <input type="hidden" name="id" id="edit-id">
                <div class="form-group">
                    <label for="edit-title">Blog Title</label>
                    <input type="text" class="form-control w-50" name="title" id="edit-title" placeholder="">
                </div>
                <div class="form-group">
                    <label for="edit-topic">Blog Topic</label>
                    <input type="text" class="form-control" name="topic" id="edit-topic" placeholder="">
                </div>
                <div class="form-group">
                    <label for="edit-body">Blog Content</label>
                    <textarea class="form-control" name="body" id="edit-body" placeholder="" rows="10"> </textarea>
                </div>
                <button type="submit" class="btn btn-outline-primary">Make Changes</button>
            </form>
            </div>
          </div>
      
        </div>
    </div>

    <!-- Confirmation Modal (for deleting a post) -->

    <div id="confirm-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Are You Sure?</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-danger" onClick="deleteBlog()">Delete</button>
                <input type="hidden" id="modalDeleteId" value="">
            </div>
          </div>
      
        </div>
    </div>

    <!-- Create Modal (for creating a post) -->

    <div id="create-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Create a Post</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              
            </div>
            <div class="modal-body">
                <form action = "/admin/create" method = "POST">
                    <div class="form-group">
                        <label for="create-title">Blog Title</label>
                        <input type="text" class="form-control w-50" name="title" id="create-title" placeholder="Enter Title">
                    </div>
                    <div class="form-group">
                        <label for="choose-topic">Blog Topic</label>
                        <input type="text" class="form-control w-50" name="topic" id="create-topic" placeholder="Enter Title">
                    </div>
                    <div class="form-group">
                        <label for="create-body">Blog Content</label>
                        <textarea class="form-control" name="body" id="create-body" placeholder="Enter Blog Content" rows="10"> </textarea>
                    </div>
                    <button type="submit" class="btn btn-outline-primary">Post</button>
                </form>
            </div>

          </div>
      
        </div>
    </div>

    <%- include ('../partials/bottom_scripts') %>

    <footer class="footer-no-nav footer" role="contentinfo">
      <p> Made by Dulhan N.W. <%= new Date().getFullYear() %> </p>               
    </footer>

     <script>
        const showViewModal = (blogJSON, date) =>{
            $('#view-modal').modal('show');
            blog = JSON.parse(blogJSON);
            document.querySelector('.view-title').innerHTML = `<h3> ${blog.title} </h3>`;
            document.querySelector('.view-topic').innerHTML = `<h6> ${blog.topic} </h6>`;
            document.querySelector('.view-date').innerHTML = `<p> ${date} </p>`;
            document.querySelector('.view-body').innerHTML = `<p class = "spaces"> ${blog.body} </p>`;
        }
        const showEditModal = (blogJSON) =>{
            $('#edit-modal').modal('show');
            blog = JSON.parse(blogJSON);
            document.querySelector('#edit-id').value = blog._id;
            document.querySelector('#edit-title').value = blog.title;
            document.querySelector('#edit-topic').value = blog.topic;
            document.querySelector('#edit-body').value = blog.body;
        }
        const showConfirmModal = (id) =>{
            $('#confirm-modal').modal('show');
            const modalDeleteInput = document.querySelector('#modalDeleteId');
            modalDeleteId.value = id;
        }
        const showCreateModal = () =>{
            $('#create-modal').modal('show');
        }

        const deleteBlog = () => {
            const idToDelete = document.querySelector('#modalDeleteId').value;
            const deletePath = 'admin/delete/' + idToDelete;
            fetch(deletePath, {method: 'DELETE'})
            .then( result => {
                window.location.replace('admin');
                // Todo: Send a success message
            });
        }

        document.addEventListener('click', (e) => {
          const element = e.target;
          if (element.getAttribute('name') == 'id'){
            showConfirmModal(element.dataset.id);
          } else if (element.getAttribute('name') == 'view'){
            showViewModal(element.dataset.blog, element.dataset.dateFormatted);
          } else if (element.getAttribute('name') == 'edit'){
            showEditModal(element.dataset.blog);
          }
        });
        



    </script>
</body>
</html>