<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head') %> 
</head>
<body>
    
    <%- include ('../partials/nav') %>
    <div class = "container">
        <% if (typeof message !== 'undefined') { %>
            <div class="alert alert-warning" role="alert">
                <%= message %>
            </div>
        <% } %>
        <h1> Admin Login </h1>
        <br> <br>
        <form action = "validate", method = "POST" id = "login">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control w-25" name="username" id="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control w-25" name="password" id="password" required>
            </div>

            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>
    </div>

    <%- include ('../partials/bottom_scripts') %>

    <footer class = "footer-no-nav footer" role = "contentinfo">
        <p>Made by Dulhan N.W. <%= new Date().getFullYear() %> </p>               
    </footer>
    
</body>
</html>