<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head') %>   
</head>
<body>
    
    <%- include ('./partials/nav') %>

    <div class = "container">

        <% blogs.forEach( blog => { %>

            <div class = "blog-link shadow border rounded">
                <a href = "<%= `blog/${blog._id}` %>" class = "text-dark">
                <h2><%= blog.title %></h2>
                <h5> <%= blog.topic %></h5>
                <p> Date Created: <%= moment(blog.createdAt).format('dddd, DD MMMM YYYY') %></p>
                </a>
            </div>
            <br> <br> <br>

        <% }); %>

    </div>

    <%- include ('./partials/bottom_scripts') %>

    <footer class="footer-no-nav footer" role="contentinfo">
        <p>Made by Dulhan N.W. <%= new Date().getFullYear() %> </p>               
    </footer>

</body>
</html>