<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head') %>   
</head>
<body>
    
    <%- include ('./partials/nav') %>

    <div class = "container">

        <% blogs.forEach( blog => { %>

            <article>
                <h3><%= blog.title %></h3>
                <p> Date Created: <%= moment(blog.createdAt).format('dddd, DD MMMM YYYY') %></p>
                <hr>

                <div>
                    <p><%= blog.body %></p>
                </div>
            </article>
            <br> <br> <br>

        <% }); %>

    </div>

    <%- include ('./partials/bottom_scripts') %>

    <footer class="footer-no-nav footer" role="contentinfo">
        <p>Copyright &copy Dulhan N.W. <%= new Date().getFullYear() %> </p>               
    </footer>

</body>
</html>